body {
  background-image: url(../Images/background.jpg);
  background-repeat: repeat;
  background-position-x: left top;
  width: 100;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

header {
  height: 90px;
  width: 100%;
  line-height: 90px;
  border-bottom: solid 2px #cccccc;
  background-color: #ffffff;
}

.name {
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 30px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  margin-left: 30px;
  font-weight: 800;
}

nav {
  float: right;
}
