* {
  box-sizing: border-box;
}

body {
  font-family: "Tribuchet MS", "Lucida Sans Unicode", "Trebuchet MS",
    "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 100vh !important;/*for modern browsers*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-size: 18px;
  line-height: 25px;
  color: paleturquoise;
  background: url(https://unsplash.com/photos/Kp9z6zcUfGw);
}
h2 {
  color: black;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

#portfolio {
  margin-top: 48px;
}
#logo {
  color: paleturquoise;
  /*background-color: darkgray; opacity: 90%*/
  /*border-color: darkgray;*/
  padding: 20px;
  font-family: serif;
  font-weight: 200;
  font-size: 20pt;
  text-align: center;
  border-radius: 0.1rem;
}

.navbar {
  border-bottom: 0px solid white;
}

p {
  padding: 5px;
  width: auto !important; /*for modern browsers*/
}
img {
  padding: 5px;
  width: auto !important; /*for modern browsers*/
}
.card-image {
  height: 260px !important; /*for modern browsers*/
  width: 370 !important; /*for modern browsers*/
}

#icon {
  padding-bottom: 30px;
  width: auto !important; /*for modern browsers*/
}

#iconBlock {
  height: 230px;
  width: auto !important; /*for modern browers*/
}

#main {
  min-height: 60vh;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  clear: both;
  padding: 50%;
  padding-bottom: 5%;
  /*margin: 5%; */
}

#contact {
  min-height: 75vh;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  padding: 5%;
  padding-bottom: 5%;
  /* margin: 5%; */
}

footer {
  left: 0;
  bottom: 0%;
  width: 100%;
  padding: 20px;
  font-size: medium;
  /*position: fixed; */
  border-top: 70px solid gray;
}

.clip-me {
  /*referencing source path of wallpaper*/
  background: url(https://unsplash.com/photos/Kp9z6zcUfGw);
  /* clip-path: polygon (50% 29%, 100% 0, 100% 60%, 50% 100%, 0 60%, 0% 0%); height: 20%; */
}

.clip-me-2 {
  clip-path: polygon(100% 0%, 100% 70%, 51% 100%, 0 70%, 0 50%, 0 0);
  height: 30%;
}
